Feature 1 (Meeting Summarization)
{
  "name": "Feature 1 FINAL",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42ab80ea-a9f9-4e85-aac9-9139452eb383",
              "name": "notes",
              "value": "PASTE YOUR INPUT HERE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        336
      ],
      "id": "236318a4-c6b0-4a40-bab4-bfde6239bbd4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cbf8c31-e24e-4701-ae5f-4555dc00fb5a",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "67470449-28e9-4564-b2f5-b12d65f2f344",
              "name": "workflow_name",
              "value": "WF_Summaries",
              "type": "string"
            },
            {
              "id": "bce1c4fc-00b2-4b90-8754-c07c0c52a38b",
              "name": "output.summary",
              "value": "={{$json.output.summary}}",
              "type": "string"
            },
            {
              "id": "f456619b-9b77-41bf-a0f5-457916be8706",
              "name": "output.action_items",
              "value": "={{ $json.output.action_items }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        352
      ],
      "id": "def75639-e62e-4568-ba83-b6980c9191d3",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/philschmid/bart-large-cnn-samsum",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "Bearer YOUR_HF_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/JSON"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=inputs",
              "value": "={{$json[\"notes\"]}}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        512
      ],
      "id": "58118b6d-967a-4f9d-b74e-eca1cc1cb166",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        352
      ],
      "id": "265f88ca-2d83-4849-afc2-048514d5ea5a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Node: UNIVERSAL Extraction from Formatted Notes\nconst input = $input.all()[0].json;\n\nconst formattedNotes = input.formatted_notes;\nconst summary = input.summary;\n\nconsole.log('=== UNIVERSAL EXTRACTION ===');\n\nconst lines = formattedNotes.split('\\n');\nconst actionItems = [];\n\n// Expanded list of section headers that indicate action items\nconst actionSectionHeaders = [\n  'Action Items:',\n  'Tasks:',\n  'Next Steps:',\n  'To Do:',\n  'Action Plan:',\n  'Assignments:',\n  'Responsibilities:',\n  'Action Items (URGENT):',\n  'Critical Actions:',\n  'Immediate Actions:',\n  'What we need to do:',\n  'Follow-up Items:'\n];\n\nlet inActionSection = false;\nlet currentSection = '';\n\nlines.forEach((line, index) => {\n  const trimmed = line.trim();\n  \n  // Check if this line starts any action section\n  for (const header of actionSectionHeaders) {\n    if (trimmed.includes(header)) {\n      inActionSection = true;\n      currentSection = header;\n      console.log(`✅ Entered ${header} section at line ${index}`);\n      return;\n    }\n  }\n  \n  // Multi-line header detection (like \"Action\" + \"Items:\")\n  if (trimmed.includes('Action') && lines[index + 1] && lines[index + 1].includes('Items:')) {\n    inActionSection = true;\n    currentSection = 'Action Items:';\n    console.log(`✅ Entered Action Items section at line ${index}`);\n    return;\n  }\n  \n  // Look for section endings\n  if (inActionSection) {\n    const nextSections = [\n      'Process Improvements:', 'Key Learnings:', 'Decisions:', 'Risks:',\n      'Background:', 'Discussion:', 'Goals:', 'Completed:', 'Status:'\n    ];\n    \n    for (const endSection of nextSections) {\n      if (trimmed.includes(endSection)) {\n        inActionSection = false;\n        console.log(`❌ Exited action section at line ${index} (found ${endSection})`);\n        return;\n      }\n    }\n  }\n  \n  // Extract bullet points when in action section\n  if (inActionSection && trimmed.startsWith('-') && trimmed.length > 20) {\n    const cleanItem = trimmed.replace(/^-\\s*/, '').trim();\n    \n    // Better filtering for real action items\n    const isRealActionItem = \n      cleanItem.includes(' to ') || \n      cleanItem.includes(' will ') ||\n      cleanItem.includes(' responsible for ') ||\n      cleanItem.match(/\\(\\w+\\)\\s+to\\s+/) ||\n      cleanItem.match(/\\w+\\s+\\(\\w+\\)\\s+to\\s+/) ||\n      cleanItem.includes(' by ') ||\n      cleanItem.includes(' before ');\n    \n    if (isRealActionItem) {\n      console.log(`✅ FOUND ACTION ITEM in ${currentSection}: \"${cleanItem}\"`);\n      actionItems.push(cleanItem);\n    }\n  }\n});\n\nconsole.log('Action items found:', actionItems);\n\n// FALLBACK: If no structured section found, look for assignment patterns anywhere\nif (actionItems.length === 0) {\n  console.log('No structured section found, using pattern-based fallback...');\n  \n  const assignmentPatterns = [\n    /([A-Z][a-z]+)\\s+to\\s+([^.!?]+?(?:by|before|due|on)\\s+\\w+\\s+\\d{1,2})/gi,\n    /([A-Z][a-z]+)\\s+will\\s+([^.!?]+?(?:by|before)\\s+\\w+\\s+\\d{1,2})/gi,\n    /-\\s*([^.!?]+?(?:by|before)\\s+(?:end of|EOD|tomorrow|next week|\\w+day|\\d+\\/\\d+))/gi\n  ];\n  \n  const fallbackItems = [];\n  const notesText = formattedNotes;\n  \n  assignmentPatterns.forEach(pattern => {\n    const matches = notesText.matchAll(pattern);\n    for (const match of matches) {\n      const item = match[0].replace(/^-\\s*/, '').trim();\n      if (item.length > 20 && !fallbackItems.includes(item)) {\n        console.log(`✅ FOUND via pattern: \"${item}\"`);\n        fallbackItems.push(item);\n      }\n    }\n  });\n  \n  actionItems.push(...fallbackItems);\n}\n\nreturn [\n  {\n    \"status\": \"success\",\n    \"workflow_name\": \"WF_Summaries\",\n    \"output\": {\n      \"summary\": summary,\n      \"action_items\": actionItems.length > 0 ? actionItems : [\"No actionable items identified in meeting notes\"]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        352
      ],
      "id": "d508b703-31aa-490c-a73b-e236fb18d376",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        400,
        224
      ],
      "id": "fa38f0f0-6854-4b99-9f9a-a13adf8f2b2c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Node: DEBUG Format Meeting Notes\nconst inputs = $input.all();\n\nconsole.log('=== DEBUG: MERGE NODE OUTPUT STRUCTURE ===');\nconsole.log('Number of inputs:', inputs.length);\n\n// Log the complete structure of each input\ninputs.forEach((input, index) => {\n  console.log(`=== Input ${index} ===`);\n  console.log('Type:', typeof input);\n  console.log('Keys:', Object.keys(input));\n  console.log('Full object:', JSON.stringify(input, null, 2));\n  console.log('================');\n});\n\n// Try multiple access methods\nlet originalNotes = '';\nlet summary = '';\n\n// Method 1: Direct access\nconsole.log('=== METHOD 1: Direct property access ===');\nif (inputs[0] && inputs[0].notes) {\n  originalNotes = inputs[0].notes;\n  console.log('✓ Found notes via inputs[0].notes');\n} else {\n  console.log('✗ inputs[0].notes: NOT FOUND');\n}\n\nif (inputs[1] && inputs[1].summary_text) {\n  summary = inputs[1].summary_text;\n  console.log('✓ Found summary via inputs[1].summary_text');\n} else {\n  console.log('✗ inputs[1].summary_text: NOT FOUND');\n}\n\n// Method 2: JSON access\nconsole.log('=== METHOD 2: JSON property access ===');\nif (inputs[0] && inputs[0].json && inputs[0].json.notes) {\n  originalNotes = inputs[0].json.notes;\n  console.log('✓ Found notes via inputs[0].json.notes');\n} else {\n  console.log('✗ inputs[0].json.notes: NOT FOUND');\n}\n\nif (inputs[1] && inputs[1].json && inputs[1].json.summary_text) {\n  summary = inputs[1].json.summary_text;\n  console.log('✓ Found summary via inputs[1].json.summary_text');\n} else {\n  console.log('✗ inputs[1].json.summary_text: NOT FOUND');\n}\n\n// Method 3: String search as last resort\nif (!originalNotes || !summary) {\n  console.log('=== METHOD 3: String search ===');\n  const inputString = JSON.stringify(inputs);\n  console.log('Full input string (first 1000 chars):', inputString.substring(0, 1000));\n  \n  // Search for notes\n  const notesMatch = inputString.match(/\"notes\":\"([^\"]+)\"/);\n  if (notesMatch) {\n    originalNotes = notesMatch[1].replace(/\\\\n/g, '\\n');\n    console.log('✓ Found notes via string search');\n  } else {\n    console.log('✗ Notes not found via string search');\n  }\n  \n  // Search for summary\n  const summaryMatch = inputString.match(/\"summary_text\":\"([^\"]+)\"/);\n  if (summaryMatch) {\n    summary = summaryMatch[1];\n    console.log('✓ Found summary via string search');\n  } else {\n    console.log('✗ Summary not found via string search');\n  }\n}\n\nconsole.log('=== FINAL RESULTS ===');\nconsole.log('Original notes found:', !!originalNotes);\nconsole.log('Summary found:', !!summary);\nconsole.log('Original notes length:', originalNotes.length);\nconsole.log('Summary length:', summary.length);\n\n// If we found data, format it\nlet formattedNotes = '';\nif (originalNotes) {\n  formattedNotes = originalNotes\n    .replace(/([A-Z][a-z]+ [A-Z][a-z]+:)/g, '\\n$1\\n')\n    .replace(/([A-Z][a-z]+:)/g, '\\n$1\\n')\n    .replace(/\\s+-\\s+/g, '\\n- ')\n    .replace(/\\n+/g, '\\n')\n    .trim();\n}\n\nreturn [\n  {\n    \"formatted_notes\": formattedNotes,\n    \"summary\": summary,\n    \"original_notes\": originalNotes,\n    \"debug_info\": {\n      \"inputs_count\": inputs.length,\n      \"notes_found\": !!originalNotes,\n      \"summary_found\": !!summary,\n      \"formatted_notes_length\": formattedNotes.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        352
      ],
      "id": "42e3c80c-a351-4cd9-98e7-f92d8b1e07d6",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "96bac107-52c7-489c-97d9-cf5eefb413ff",
  "meta": {
    "instanceId": "2da04f59d427957dc124e28a94b37ab6ed3c2c81388b1955ce17aea435b6c511"
  },
  "id": "wwOGRtIjgKslRihi",
  "tags": []
}
